  
.content.row-layout
  .full-width
    %section.trust
      .col-md-12.text-center
        %h2 Easy to Adopt
        %p
          %em “We’re bringing into the firm a platform that our engineers actually want to use – which helps drive adoption across multiple teams and increase productivity without having to ‘force’ anyone to adopt it. This is really helping to create an ecosystem where our end users are actively helping us drive towards our strategic goals - more releases, better controls, better software.”
        %p George Grant
        %p VP - Technology Fellow, Goldman Sachs
        %br
        %a{:href => "/customers/goldman-sachs/", :"data-ga-name" => "goldman sachs", :"data-ga-location" => "body"}
          Learn more
          %i.fas.fa-arrow-right
        %br
        %hr.divider
